template(name="start")
	div.container-fluid
		div.col-md-6.holder
			input(type="text", placeholder="Zoeken", style="width: 100%").form-control
		div.col-md-6.holder
			a(href="#informatie", style="position: absolute; top: 5px; right: 15px; font-weight: bold")#showFiche.tiny.button.radius.hide-for-large-only InterventieFiche
			h3 Informatie
			label(for="select_location").show-for-small-only Locatie
			select(name="select_location").form-control
				option AWVA - Afdeling
				option(selected) AWVA - Distict Antwerpen kaai (Mijn locatie)
				option AWVA - District Brecht
				option AWVA - District Geel
				option AWVA - District Puurs
				option AWVA - District Vosselaar
				option AWVL - Afdeling
				option AWVL - District Hasselt
			h5 Permanentielijsten - Calamiteiten
			ul(style="font-size: smaller")
				li
					a(href="#") Beurtrol Districtsmedewerkers D121 District Antwerpen (2015-2016)
				li
					a(href="#") Beurtrol leidinggevenden calamiteiten wachtdienst (AWVA) (2015-2016)
			h5 Permanentielijsten - Winterdienst
			ul(style="font-size: smaller")
				li
					a(href="#") Beurtrol Districtsmedewerkers D121 District Antwerpen (2015-2016)
				li
					a(href="#") Beurtrol Leidinggevenden D121 District Antwerpen (2015-2016)
			h5 Incidenten
			ul(style="font-size: smaller")
				li
					a(href="#") Fiches
				li
					a(href="#") Procedures
			div.row
				div.col-md-6
					h5 Middelen - Intern
					ul(style="font-size: smaller")
						li
							a(href="#") Arbeiders
						li
							a(href="#") Rollend Materiaal
				div.col-md-6
					h5 Middelen - Extern
					ul(style="font-size: smaller")
						li
							a(href="#") Aannemers onder contract
						li
							a(href="#") Aannemers buiten contract